@import url('../Fonts/Libre Baskerville.css');
*
{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    position: relative;
}
nav{
    background-color: #e4e4e4;
    font-family: 'Libre Baskerville', serif;
}
nav img
{
    height: 40px;
    width: 60px;
}
.navbar-toggler:hover, .navbar-toggler:focus { 
    outline: none; 
    text-decoration: none; 
} 
.navbar-toggler { 
    outline: none; 
    text-decoration: none;
}
.btn:hover, .btn:focus { 
    outline: none; 
    text-decoration: none; 
} 
.btn { 
    outline: none; 
    text-decoration: none;
}
nav{
    background-color: #f5f5ff;
    box-shadow: 0px -1px 20px 2px rgba(0,0,0,0.2);
    z-index: 1;
}
.nav-item
{
    margin: 0px 25px;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content
{
    display: block;
}
.dropdown-content a
{
    background-color: #f5f5ff;
    max-height: 20px;
    max-width: 140px;
    min-height: 50px;
    min-width: 140px;
    font-size: 16px;
    display: list-item;
    color: #000;
    padding-left: 22px;
    padding-top: 18px ;
    padding-bottom: 36px ;
    padding-right: 36px;
    text-decoration: none;
    font-weight:bold ;
}
.dropdown-content a:hover
{
    background-color:#6f42c1;
    display: list-item;
    color:#fff ;
    text-decoration: none;
    transition: .4s;
    padding-left: 35px;
    padding-top: 18px ;
    padding-bottom: 36px ;
    padding-right: 30px;
}
/* Container */
.main  {
    margin-top: 80px;
    position: relative;
  }
  .row{
    width: 85%;
    margin: auto;
    display: flex;
    position: relative;
  }
  .left-col{
    height: 100%;
    position: relative;
  }
  .right-col{
    justify-content: center;
    align-self: center;
  }
  .col-md-6
  {
    padding: 0;
  }
  .main{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .main h4{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
    font-family: 'Roboto Slab', serif;
  }
  .main p{
    color: #adadad;
    font-size: 15px;
    line-height: 18px;
    margin: 20px 0;
  }
  .main p span{
    padding-left: 50px;
  }
  /* TYPED ANIMATION */
  .main h4
  {
    text-align: center;
    letter-spacing: 0.1rem;
    overflow: hidden;
    padding: 0.5rem;
  }
  .main .typed-text{
    color: dodgerblue;
  }
  .main .cursor
  {
    display: inline-block;
    width: 3px;
    background-color: #000000;
    margin-left: 0.1rem; 
    animation: blink 1s infinite;
  }
  .main .typing
  {
    animation: none;
  }
  @keyframes blink
  {
    0%{
      background-color: #000;
    }
    49%{
      background-color: #000;
    }
    50%{
      background-color: transparent;
    }
    99%{
      background-color: transparent;
    }
    100%
    {
      background-color: #000;
    }
  }